<!DOCTYPE html>
<html>
 

<head>
      <title>about</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body> 
    <div class="main-content">

      {{>header}}
        <h2>This is created by Kavin and this page get data from mapbox and weatherstack API's!!!</h2> 
    </div>
      {{>footer}}

</body>

</html>