<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
   {{!--  <form>
        <input placeholder="Location">
        <button>search</button>
    </form>
    <p id="p1"></p>
    <p id="p2"></p>
--}}
    </div>
 
    {{>footer}}
        {{!-- <script src="/js/jsapp.js"></script> --}}
</body>

</html>