<!DOCTYPE html>
<html>

<head>
      <title>weather</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body> 
    <div class="main-content">
      {{>header}}       
   <form>
        <input placeholder="Location">
        <button>search</button>
    </form>
    <p id="p1"></p>
    <p id="p2"></p> 

    </div>

    {{>footer}}
        <script src="/js/jsapp.js"></script>
</body>

</html>